.word-background {
  background: rgb(231, 229, 229);
}
.card-background {
  background: white;
}
.girder-yinying {
  margin: 0 16px;
  box-shadow: 0 0 5px rgb(231, 229, 229);
}
.center-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topAndBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.topAndBottom-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightAndLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right{
  display: flex;
  justify-content: flex-end;
}
.full {
  height: 100%;
}
.width-ful {
  width: 100%;
}
.margin-top {
  margin-top: 50rpx;
}
.margin-left {
  margin-left: 16px;
}
.margin-bottom {
  margin-bottom: 50rpx;
}
.square {
  width: 50rpx;
  height: 50prx;
}

.huise {
  color: var(--cell-value-color,#969799);
  font-size: 10px;
}
.checked {
  color: red;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  background: rgb(228, 226, 226);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

.cardContainer {
  padding: 2px 16px;
}